@{ 
    Layout = "";
}

@model IEnumerable<WebApplication2.Models.客戶聯絡人>

@{
    ViewBag.Title = "客戶聯絡人";
}

<h2>客戶聯絡人</h2>
@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.職稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.姓名)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.手機)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.電話)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.客戶資料.客戶名稱)
            </th>
            <th></th>
        </tr>

        @{

            var items = Model.ToArray();
        }

       @for (var i = 0; i < items.Length; i++)
       {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => items[i].Id)
                @Html.EditorFor(modelItem => items[i].職稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items[i].姓名)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items[i].Email)
            </td>
            <td>
                @Html.EditorFor(modelItem => items[i].手機)
            </td>
            <td>
                @Html.EditorFor(modelItem => items[i].電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items[i].客戶資料.客戶名稱)
            </td>
        </tr>
       }

    </table>

    <button>批次修改更新</button>

    }


