@model IEnumerable<WebApplication2.Models.客戶銀行資訊>


@section breadcrumb{
<li><a href="@Url.Action("Index", "客戶銀行資訊")">客戶銀行資訊</a></li>
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm())
    {
    <p>
        銀行名稱: @Html.TextBox("SearchString") <button>搜尋</button> <br />
    </p>
    }

<button class="btn btn-primary" id="ButtonExport" name="ButtonExport" onclick="location.href='@Url.Action("ExportData", "客戶銀行資訊")'">
    匯出資料
</button>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.銀行名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.銀行代碼)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.分行代碼)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.帳戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.帳戶號碼)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.客戶資料.客戶名稱)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.銀行名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.銀行代碼)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.分行代碼)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.帳戶名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.帳戶號碼)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
